* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: arial, sans-serif;
  padding: 20px;
}
header {
  text-align: center;
  margin-bottom: 50px;
}
.container {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section {
  width: calc(33.33% - 20px);
  background-color: grey;
  margin: 20px 10px;
  padding: 20px;
  border: 2px solid black;
  position: relative;
}
.section {
  padding-top: 50px;
}
.title1 {
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ee9d9c;
  color: #000;
  padding: 5px 20px;
  text-align: center;
}
.title2 {
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #910a08;
  color: #000;
  padding: 5px 20px;
  text-align: center;
}
.title3 {
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffc15e;
  color: #000;
  padding: 5px 20px;
  text-align: center;
}
@media screen and (max-widt: 991px) {
  .section {
    width: calc(50% - 20px);
  }
  .section:nth-child(3) {
    widt: calc(100% - 15px);
  }
}
@media screen and (max-width: 767px) {
  .section {
    width: calc(100% - 20px);
  }
}
